
body {
  background-color: #F0F2F3;

}

h3 {
  color: #FFFFFF
}

p {
  font-size: 18px;
  line-height: 1.2;
  margin-top: 22px;
}


#title-bar {
  width: 100%;
  background-color: #004369;
  /* margin-top: 30px; */
  margin-bottom: 30px;
  color: #FFFFFF;
}

#title-bar h1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 50px;
  font-family: 'Bungee', cursive;
  /* hor. vert. blur color */
  /* text-shadow: 0 0 4px #FFFFFF; */
}

#main-container {
  display: flex;
  min-width: 100%;
  margin: auto;
}

#settings-container {
  flex-wrap: wrap;
  margin: 20px;
  align-content: top;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: bold;
}

#settings-card {
  width: 300px;
  /* height: 500px; */
  background-color: #71B1C5;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
  border-radius: 12px;
  /* hor. vert. blur spread color */
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.4);
}

.slider {
  display: inline-block;
  width: 200px;
  height: 20px;
  padding: 0;
}




h3 {
  padding-top: 20px;
}





/* input[type='radio'] {
  -webkit-appearance: none;
  color: red;
  background-color: green;
} */

/* input[type='range'] {
  -webkit-appearance: none;
  color: red;
  background-color: green;
} */

/* input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  border: 1px solid var(--primary-dark);
  border-radius: 25px;
  background: var(--secondary-light);
} */

/* input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 25px;
} */


.btn {
  margin: 10px;
  /* background-color: #E5DDC8; */
  background-color: #004369;
  border: black;
  border-radius: 4px;
  font-weight: bold;
  color: #FFFFFF;
}

.btn:hover {
  color: red;
  background-color: #F0F2F3;
}









#grid-container {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  /* position: relative; */
  /* Move these to js: */
  /* grid-template-columns: repeat(30, auto);
  grid-template-rows: repeat(20, auto);  */

  /* display: inline-block;*/
  /* flex-wrap: wrap; */
  min-height: 500px;
  min-width: 500px;
  margin: 30px;
}




#grid-container .square {
  background-color: #FFFFFF;
  /* max-width: 100%;
  max-height: 100%; */
  border: solid 1px #F0F2F3;
  /* max-width: 2;
  max-height: 2; */
  /* box-shadow: 2px 1px 2px 1px; */
  flex-wrap: wrap;
  /* padding: 12px; */
  /* margin: 0.5px; */
}

#grid-container .square.black {
  background-color: #333333;
}

#grid-container .square.white {
  background-color: #FFFFFF;
}

#grid-container .square.blue {
  background-color: #4A84B9;
}
